@using CbsTest.Web.Shared.City
<tr>
@if(isEditing)
{
    <td><input class="form-control" @bind-value="@City.Name"/></td>
    <td><input class="form-control" type="number" @bind-value="@City.Population" min="0"/></td>
    <td><input class="form-control" type="date" @bind-value="@City.FoundationDate"/></td>
    <td> <button class="btn btn-outline-success" @onclick="SaveItem">Save</button> <button class="btn btn-outline-danger" @onclick="RemoveItem">Remove</button> </td>
}
else
{   
    <td>@City.Name</td>
    <td>@City.Population</td>
    <td>@City.FoundationDate.ToShortDateString()</td>
    <td> <button class="btn btn-outline-primary" @onclick="EnableEdit">Edit</button> <button class="btn btn-outline-danger" @onclick="RemoveItem">Remove</button> </td>
}
</tr>

@code {
    [Parameter]
    public City City { get; set; }

    [Parameter]
    public EventCallback<City> OnChanged { get; set; }

    [Parameter]
    public EventCallback<City> OnRemoved { get; set; }

    private bool isEditing = false;

    private void EnableEdit()
    {
        isEditing = true;
    }

    private void SaveItem()
    {
        isEditing = false;
        OnChanged.InvokeAsync(City);
    }

    private void RemoveItem()
    {
        isEditing = false;
        OnRemoved.InvokeAsync(City);
    }
}
